<a href="https://colab.research.google.com/github/VennelaTalluri/Kore/blob/main/AI_and_DS_Week_3_Lab_Notebook_%5BSOLUTIONS%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Lab 3: Data Analysis with Python Project**
---

### **Description**
In today's lab, you will dive into working with real-world data using Python. You'll apply what you've learned so far to clean, organize, and analyze the dataset, making decisions about how to handle various challenges along the way. This will involve extracting key information, performing calculations, and identifying patterns within the data.

Throughout the lab, you'll be expected to make use of your problem-solving skills, as well as the tools and techniques introduced in previous lessons. We encourage you to keep your past notebooks and cheatsheets open as a reference to guide you through the process. By the end of the lab, you will have strengthened your ability to manipulate and analyze datasets, preparing you for more advanced data tasks.

<br>

### **Lab Structure**

**Concept Practice**

- **Part 1**: [For Loops](#p1)

- **Part 2**: [Functions](#p2)


**Data Analysis Project**

- **Part 3**: [Cleaning a Dataset](#p3)

- **Part 4**: [Analyzing the Data](#p4)

<br>




### **Cheat Sheets**
* [Python basics Cheat Sheet I](https://docs.google.com/document/d/1P3mae56ecUhbi3zq5eCT9T7HamCGEcd3lqqdZvUZAvU/edit?usp=sharing)
* [Python basics Cheat Sheet II](https://docs.google.com/document/d/18eQIB2AkctAQXiYCgsI10IJ5X_L70QpZuDdclz8zAi8/edit?usp=sharing)
* [Python basics Cheat Sheet III](https://docs.google.com/document/d/1-Nw8dzt_3wzpDlhR_JoVjFZ0rhKOmua78p7f8yLlufg/edit?usp=sharing)
* [Python basics Cheat Sheet IV](https://docs.google.com/document/d/1jpuwKS_8RMyAi3VnAcEZkQVOU5hrSU7KSDjNuhKX2aQ/edit?usp=sharing)

<a name="p1"></a>

---
## **Part 1: For Loops**
---


#### **Problem #1.1**

Print every item in the list on its own line.

In [ ]:
stuff = ['keyboard','monitor','computer','web cam','mouse']
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
stuff = ['keyboard','monitor','computer','web cam','mouse']
for thing in stuff:
  print(thing)

keyboard
monitor
computer
web cam
mouse

---
#### **Problem #1.2**

Run the code cell below and observe the output.

In [ ]:
print('Range 0:', range(10))
print('Range 1:', list(range(10)))
print('Range 2:', list(range(5, 10)))
print('Range 3:', list(range(5, 15, 2)))
print('Range 4:', list(range(20, 10, -1)))
print('Range 5:', list(range(-20, 15, 5)))

Range 0: range(0, 10)
Range 1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Range 2: [5, 6, 7, 8, 9]
Range 3: [5, 7, 9, 11, 13]
Range 4: [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
Range 5: [-20, -15, -10, -5, 0, 5, 10]

---
#### **Problem #1.3**

Print every item in the list on its own line using `range()`.

In [ ]:
stuff = ['keyboard','monitor','computer','web cam','mouse']
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
stuff = ['keyboard','monitor','computer','web cam','mouse']
for i in range(len(stuff)):
  print(stuff[i])

keyboard
monitor
computer
web cam
mouse

---
#### **Problem #1.4**

Calculate the sum of all <u>even</u> numbers between 10 and 36.

In [ ]:
even_sum = 0

# COMPLETE THIS CODE

print(even_sum)

##### **Solution**

In [ ]:
even_sum = 0

for num in range(10, 37, 2):
  even_sum += num

print(even_sum)

322

---
#### **Problem #1.5**

Create a new list called `b_colors` that only contains the colors in `color_list` that start with the letter **B**.

In [ ]:
color_list = ['Red','Burgundy','Scarlet','Orange','Yellow','Green','Cyan','Blue','Navy','Purple','Pink','Brown','Black','Gray','White','Beige']

b_colors = []
for color in color_list:
  # COMPLETE THIS CODE

print(b_colors)

##### **Solution**

In [ ]:
color_list = ['Red','Burgundy','Scarlet','Orange','Yellow','Green','Cyan','Blue','Navy','Purple','Pink','Brown','Black','Gray','White','Beige']

b_colors = []
for color in color_list:
  if color[0] == 'B':
    b_colors.append(color)

print(b_colors)

['Burgundy', 'Blue', 'Brown', 'Black', 'Beige']

---
#### **Problem #1.6**

Print every 3rd color in the list starting with Red.

In [ ]:
color_list = ['Red','Burgundy','Scarlet','Orange','Yellow','Green','Cyan','Blue','Navy','Purple','Pink','Brown','Black','Gray','White','Beige']

# COMPLETE THIS CODE

##### **Solution**

In [ ]:
color_list = ['Red','Burgundy','Scarlet','Orange','Yellow','Green','Cyan','Blue','Navy','Purple','Pink','Brown','Black','Gray','White','Beige']

for x in range(0,len(color_list),3):
  print(color_list[x])

Red
Orange
Cyan
Purple
Black
Beige

<a name="p2"></a>

---
## **Part 2: Functions**
---


#### **Problem #2.1**

Complete the code below so that calling `my_func()` will output `'This is a function'`.

In [ ]:
def my_func():

  # COMPLETE THIS LINE

my_func()

##### **Solution**

In [ ]:
def my_func():
  print("This is a function.")

my_func()

This is a function.

---
#### **Problem #2.2**

Suppose you work at a smoothie shop that only sells strawberry smoothies but is looking to branch out into other flavors. The process of making each smoothie is the same except for the type of fruit added to the blender.

Modify the function so that the flavor of the smoothie can be different any time the function is called.

In [ ]:
def make_smoothie():
  print('Scoop ice.')
  print('Add strawberry fruit to the blender.')
  print('Turn on blender.')
  print('Pour into cup and add straw. \n')

make_smoothie()

##### **Solution**

In [ ]:
def make_smoothie(flavor):
  print('Scoop ice.')
  print('Add ' + flavor + ' fruit to the blender.')
  print('Turn on blender.')
  print('Pour into cup and add straw. \n')

make_smoothie('mango')
make_smoothie('strawberry')

Scoop ice.
Add mango fruit to the blender.
Turn on blender.
Pour into cup and add straw.

Scoop ice.
Add strawberry fruit to the blender.
Turn on blender.
Pour into cup and add straw.

---
#### **Problem #2.3**

Expanding the flavor menu at the smoothie shop ended up being very popular. Now, customers will often come to order multiple of the same smoothie at once.

Complete the function `make_many_smoothies()` so that it calls `make_smoothie()` one time for each item that the customer ordered.

In [ ]:
def make_many_smoothies(flavor, quantity):

  # COMPLETE THIS CODE


make_many_smoothies('pineapple', 3)

##### **Solution**

In [ ]:
def make_many_smoothies(flavor, quantity):
  for i in range(quantity):
    make_smoothie(flavor)

make_many_smoothies('pineapple', 3)

Scoop ice.
Add pineapple fruit to the blender.
Turn on blender.
Pour into cup and add straw.

Scoop ice.
Add pineapple fruit to the blender.
Turn on blender.
Pour into cup and add straw.

Scoop ice.
Add pineapple fruit to the blender.
Turn on blender.
Pour into cup and add straw.

---
#### **Problem #2.4**

Complete the code below to return the area of the rectangle with the given height and length.

In [ ]:
def rectangle_area(height, length):

  # COMPLETE THIS CODE


rectangle_area(3, 5)

##### **Solution**

In [ ]:
def rectangle_area(height, length):
  return height * length

rectangle_area(3, 5)

15

---
#### **Problem #2.5**

Python already has built-in `min()` and `max()` functions, but we can create our own versions called `minimum()` and `maximum()`.

Complete the code below such that `maximum()` returns the largest of all the numbers in a list.

In [ ]:
def maximum(numbers):
  largest = numbers[0]

  for num in numbers:
    # COMPLETE THIS CODE

  return # COMPLETE THIS LINE


maximum([65, 86, 9, 42, 102, 13])

##### **Solution**

In [ ]:
def maximum(numbers):
  largest = numbers[0]
  for num in numbers:
    if num > largest:
      largest = num
  return largest

maximum([65, 86, 9, 42, 102, 13])

102

---
#### **Problem #2.6**

Complete the code below such that `minimum()` returns the smallest of all the numbers in a list.

In [ ]:
def minimum(numbers):

  # COMPLETE THIS CODE


minimum([65, 86, 9, 42, 102, 13])

##### **Solution**

In [ ]:
def minimum(numbers):
  smallest = numbers[0]
  for num in numbers:
    if num < smallest:
      smallest = num
  return smallest

minimum([65, 86, 9, 42, 102, 13])

9

<a name="p3"></a>

---
## **Part 3: HOMEWORK - Cleaning the Dataset**
---


**This is a homework section. You are expected to complete this section outside of lab. Your Canvas homework quiz will be based on your solutions to these problems.**

#### **About the Dataset**

The **US Tornado Dataset** provides a detailed record of tornado occurrences in the United States, including Washington, D.C., Puerto Rico, and the Virgin Islands, spanning from 1950 to 2021. It includes information on each tornado event, such as the date and location (by state, latitude, and longitude), along with the severity of the impact measured by property damage, injuries, and fatalities. The dataset also captures the tornado's path, describing its starting and ending coordinates.



- `date` - Contains the month, day, and year of the event (you are welcome to split this into 3 columns).
- `state` - The state where the tornado originated.
- `damage` - Describes the severity of the destruction.
- `injuries`
- `fatalities`
- `path` - The distance travelled by the tornado.
- `width` - Diameter or width of the tornado in yards.
- `start_latitude`
- `start_longitude`
- `end_latitude`
- `end_longitude`

---
#### **Problem #3.1** &nbsp; Load the data

Use the following code to load the tornado dataset. In the following weeks, we will discuss how to source and load various datasets, as well as the necessary tools to display data in a tabular format. Until then, we will provide this code for you.

**If you are encountering unexplainable errors when running any code cell more than once in Part 1, you may need to rerun each cell starting with this one!**

In [ ]:
import csv
import requests

url = 'https://raw.githubusercontent.com/the-codingschool/TRAIN-datasets/main/tornado/tornado_data.csv'

response = requests.get(url)
decoded_content = response.content.decode('utf-8')

data = list(csv.reader(decoded_content.splitlines()))

# This function prints the data in a readable format. Call this function whenever you want to view the dataset.
def print_head(d, num_rows=10):
  d = d[:num_rows]
  mw = [max(len(str(row[j])) for row in d) for j in range(len(d[0]))]
  for i, row in enumerate(d):
    print('| '.join(f'{str(value):<{mw[j]}} ' for j, value in enumerate(row)))
    if i == 0:
      print('-' * (sum(mw) + 3 * (len(mw) - 1)))


# The second parameter is optional specifies the number of rows to display, default=10
print_head(data, 15)

date       | state | damage       | injuries | fatalities | path    | width | start_latitude | start_longitude | end_latitude | end_longitude
---------------------------------------------------------------------------------------------------------------------------------------------
1950-01-03 | IL    | severe       | 3        | 0          | 3.6 mi  | 130   | 39.1           | -89.3           | 39.12        | -89.23
1950-01-03 | MO    | severe       | 3        | 0          | 15.3 km | 150   | 38.77          | -90.22          | 38.83        | -90.03
1950-01-03 | OH    | moderate     | 1        | 0          | 0.1 mi  | 10    | 40.88          | -84.58          |              |
1950-01-13 | ar    | severe       | 1        | 1          | 0.6 mi  | 17    | 34.4           | -94.37          |              |
1950-01-25 | IL    | considerable | 0        | 0          | 0.1 mi  | 100   | 41.17          | -87.33          |              |
1950-01-25 | MO    | considerable | 5        | 0          | 3.7 km  | 300   | 37.6           | -90.68          | 37.63        | -90.65
1950-01-26 | Texas | considerable | 2        | 0          | 4.7 mi  | 133   | 26.88          | -98.12          | 26.88        | -98.05
1950-02-11 | TX    | considerable | 0        | 0          | 15.9 km | 400   | 29.42          | -95.25          | 29.52        | -95.13
1950-02-11 | TX    | considerable | 5        | 0          | 7.4 km  | 100   | 32.35          | -95.2           | 32.42        | -95.2
1950-02-11 | TX    | considerable | 6        | 0          | 7.2 km  | 67    | 32.98          | -94.63          | 33.0         | -94.7
1950-02-11 | TX    | severe       | 12       | 1          | 12.0 mi | 1000  | 29.67          | -95.05          | 29.83        | -95.0
1950-02-12 | AR    | considerable | 0        | 0          | 0.2 km  | 100   | 34.48          | -92.4           |              |
1950-02-12 | ar    | considerable | 0        | 0          | 5.7 mi  | 100   | 33.27          | -92.95          | 33.35        | -92.95
1950-02-12 | LA    | moderate     | 0        | 0          | 0.8 km  | 33    | 32.6           | -91.33          |              |

**What do you notice about this dataset?**


This data, despite being rather comprehensive, has many inconsistencies that make it difficult to work with in any meaningful capacity. In this section, your task is to standardize the formatting of the column values using python techniques.

---
#### **Problem #3.2** &nbsp; Fix `state` Column

As you may have noticed, the `state` column has inconsistent formatting. Standardizing the `state` column to only be uppercase, 2-character abbreviations will make it much easier to group and analyze the data by state.

Use the provided `states` dictionary to match each state's name to its abbreviation.

Remember, an uppercase letter is not considered to be equivalent to its lowercase counterpart! A string can be made uppercase using the `upper()` string method: `string = string.upper()`

In [ ]:
states = {'Alaska': 'AK', 'Alabama': 'AL', 'Arkansas': 'AR', 'Arizona': 'AZ', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Iowa': 'IA', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Massachusetts': 'MA', 'Maryland': 'MD', 'Maine': 'ME', 'Michigan': 'MI', 'Minnesota': 'MN', 'Missouri': 'MO', 'Mississippi': 'MS', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 'DC': 'DC', 'Puerto Rico': 'PR', 'Virgin Islands': 'VI'}

for row in data[1:]:
  if # COMPLETE THIS LINE - if value in state column is only 2 letters long
    # COMPLETE THIS LINE - update list value to be uppercase
  else:
    # COMPLETE THIS LINE - update list value to the corresponding abbr from dictionary


print_head(data) # This will display your data so that you can view the changes made

#####**Solution**

In [ ]:
states = {'Alaska': 'AK', 'Alabama': 'AL', 'Arkansas': 'AR', 'Arizona': 'AZ', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Iowa': 'IA', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Massachusetts': 'MA', 'Maryland': 'MD', 'Maine': 'ME', 'Michigan': 'MI', 'Minnesota': 'MN', 'Missouri': 'MO', 'Mississippi': 'MS', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 'DC': 'DC', 'Puerto Rico': 'PR', 'Virgin Islands': 'VI'}

for row in data[1:]:
  if len(row[1]) == 2:
    row[1] = row[1].upper()
  else:
    row[1] = states[row[1]]

print_head(data)

date       | state | damage       | injuries | fatalities | path    | width | start_latitude | start_longitude | end_latitude | end_longitude
---------------------------------------------------------------------------------------------------------------------------------------------
1950-01-03 | IL    | severe       | 3        | 0          | 3.6 mi  | 130   | 39.1           | -89.3           | 39.12        | -89.23
1950-01-03 | MO    | severe       | 3        | 0          | 15.3 km | 150   | 38.77          | -90.22          | 38.83        | -90.03
1950-01-03 | OH    | moderate     | 1        | 0          | 0.1 mi  | 10    | 40.88          | -84.58          |              |
1950-01-13 | AR    | severe       | 1        | 1          | 0.6 mi  | 17    | 34.4           | -94.37          |              |
1950-01-25 | IL    | considerable | 0        | 0          | 0.1 mi  | 100   | 41.17          | -87.33          |              |
1950-01-25 | MO    | considerable | 5        | 0          | 3.7 km  | 300   | 37.6           | -90.68          | 37.63        | -90.65
1950-01-26 | TX    | considerable | 2        | 0          | 4.7 mi  | 133   | 26.88          | -98.12          | 26.88        | -98.05
1950-02-11 | TX    | considerable | 0        | 0          | 15.9 km | 400   | 29.42          | -95.25          | 29.52        | -95.13
1950-02-11 | TX    | considerable | 5        | 0          | 7.4 km  | 100   | 32.35          | -95.2           | 32.42        | -95.2

---
#### **Problem #3.3** &nbsp; Fix `damage` Column

The terms used in the `damage` column to describe the level of destruction caused by a tornado are difficult to quantify and would be essentially meaningless to any computer (computers work better with numbers). A numerical equivalent (such as the corresponding EF rating!) would be much more appropriate.

The `damage` sustained during a tornado corresponds to an assigned rating on the **Enhanced Fujita Scale (EF)**.

| Rating | Wind Speed | Damage |
| :----: | ---------- | ------ |
| EF0 | 65 - 85 mph | Light |
| EF1 | 85 - 110 mph | Moderate |
| EF2 | 111 - 135 mph | Considerable |
| EF3 | 136 - 165 mph | Severe |
| EF4 | 166 - 200 mph | Devastating |
| EF5 | > 200 mph | Incredible |

After making your modifications, consider updating the column name to `ef_rating` since `damage` no longer accurately describes the data in the column.

In [ ]:
ef = {'light':0, 'moderate':1, 'considerable':2, 'severe':3, 'devastating':4, 'incredible':5, 'NA':None}

# COMPLETE THE REST OF THIS CODE

print_head(data)

#####**Solution**

In [ ]:
ef = {'light':0, 'moderate':1, 'considerable':2, 'severe':3, 'devastating':4, 'incredible':5, 'NA':None}

data[0][2] = 'ef_rating'

for row in data[1:]:
  row[2] = ef[row[2]]

print_head(data)

date       | state | ef_rating | injuries | fatalities | path    | width | start_latitude | start_longitude | end_latitude | end_longitude
------------------------------------------------------------------------------------------------------------------------------------------
1950-01-03 | IL    | 3         | 3        | 0          | 3.6 mi  | 130   | 39.1           | -89.3           | 39.12        | -89.23
1950-01-03 | MO    | 3         | 3        | 0          | 15.3 km | 150   | 38.77          | -90.22          | 38.83        | -90.03
1950-01-03 | OH    | 1         | 1        | 0          | 0.1 mi  | 10    | 40.88          | -84.58          |              |
1950-01-13 | AR    | 3         | 1        | 1          | 0.6 mi  | 17    | 34.4           | -94.37          |              |
1950-01-25 | IL    | 2         | 0        | 0          | 0.1 mi  | 100   | 41.17          | -87.33          |              |
1950-01-25 | MO    | 2         | 5        | 0          | 3.7 km  | 300   | 37.6           | -90.68          | 37.63        | -90.65
1950-01-26 | TX    | 2         | 2        | 0          | 4.7 mi  | 133   | 26.88          | -98.12          | 26.88        | -98.05
1950-02-11 | TX    | 2         | 0        | 0          | 15.9 km | 400   | 29.42          | -95.25          | 29.52        | -95.13
1950-02-11 | TX    | 2         | 5        | 0          | 7.4 km  | 100   | 32.35          | -95.2           | 32.42        | -95.2

---
#### **Problem #3.4** &nbsp; Fix `path` Column

A `path` is the measured distance that a tornado covers from its formation to its dissipation. Pay close attention to the units used in each measurement. Measurements can not be fairly compared unless they share the same units! Update every value in this column so that they are all float values (without units attached). It's up to you to decide if every value should be in miles or kilometers.

**Conversion:** `1 mile (mi) = 1.609344 kilometers (km)` <br>
*Rounding all calculated conversions is recommended.*

In [ ]:
# COMPLETE THIS CODE

#####**Solution**

In [ ]:
for row in data[1:]:
  path = row[5].split(' ')
  if path[1] == 'km':
    row[5] = round(float(path[0]) / 1.609344, 1) # this solution converts kilometers to miles
  else:
    row[5] = float(path[0])

print_head(data)

date       | state | ef_rating | injuries | fatalities | path | width | start_latitude | start_longitude | end_latitude | end_longitude
---------------------------------------------------------------------------------------------------------------------------------------
1950-01-03 | IL    | 3         | 3        | 0          | 3.6  | 130   | 39.1           | -89.3           | 39.12        | -89.23
1950-01-03 | MO    | 3         | 3        | 0          | 9.5  | 150   | 38.77          | -90.22          | 38.83        | -90.03
1950-01-03 | OH    | 1         | 1        | 0          | 0.1  | 10    | 40.88          | -84.58          |              |
1950-01-13 | AR    | 3         | 1        | 1          | 0.6  | 17    | 34.4           | -94.37          |              |
1950-01-25 | IL    | 2         | 0        | 0          | 0.1  | 100   | 41.17          | -87.33          |              |
1950-01-25 | MO    | 2         | 5        | 0          | 2.3  | 300   | 37.6           | -90.68          | 37.63        | -90.65
1950-01-26 | TX    | 2         | 2        | 0          | 4.7  | 133   | 26.88          | -98.12          | 26.88        | -98.05
1950-02-11 | TX    | 2         | 0        | 0          | 9.9  | 400   | 29.42          | -95.25          | 29.52        | -95.13
1950-02-11 | TX    | 2         | 5        | 0          | 4.6  | 100   | 32.35          | -95.2           | 32.42        | -95.2

---
#### **Problem #3.5** &nbsp; Convert the columns to numerical data

Before we move on to Part 2: Analyzing the Data, we want to ensure that our numerical columns are either integers or floats. As you'll see in the next section, this will facilitate our data analysis. Remember, we can not perform calculations on numbers that are formatted as strings!

`123 + 45 = 168` &nbsp; | &nbsp; `"123" + "45" = "12345"` &nbsp; | &nbsp; `"123" + 45 = Error!`

Below is a function that accepts 3 arguments: a dataset, a column_name, and the num_type (either `int` or `float`). Call this function to convert any string columns to a numerical data type.

**Hint:** The data in the `injuries`, `fatalities`, `width`, `start_latitude`, `start_longitude`, `end_latitude`, and `end_longitude` columns are currently strings.

In [ ]:
def convert_str_col(dataset, column_name, num_type):
  col_idx = dataset[0].index(column_name)     # Gets the index number that corresponds to column name
  for row in dataset[1:]:
    if len(row[col_idx]) == 0:
      row[col_idx] = None                     # Empty strings are replaced with None
    else:
      row[col_idx] = num_type(row[col_idx])   # Converts the string to the specified numerical type
  return dataset

In [ ]:
data = convert_str_col(data, "injuries", int)

# COMPLETE THE REST OF THIS CODE

print_head(data)

#####**Solution**

In [ ]:
data = convert_str_col(data, "injuries", int)
data = convert_str_col(data, "fatalities", int)
data = convert_str_col(data, "width", int)
data = convert_str_col(data, "start_latitude", float)
data = convert_str_col(data, "start_longitude", float)
data = convert_str_col(data, "end_latitude", float)
data = convert_str_col(data, "end_longitude", float)
print_head(data)

date       | state | ef_rating | injuries | fatalities | path | width | start_latitude | start_longitude | end_latitude | end_longitude
---------------------------------------------------------------------------------------------------------------------------------------
1950-01-03 | IL    | 3         | 3        | 0          | 3.6  | 130   | 39.1           | -89.3           | 39.12        | -89.23
1950-01-03 | MO    | 3         | 3        | 0          | 9.5  | 150   | 38.77          | -90.22          | 38.83        | -90.03
1950-01-03 | OH    | 1         | 1        | 0          | 0.1  | 10    | 40.88          | -84.58          | None         | None
1950-01-13 | AR    | 3         | 1        | 1          | 0.6  | 17    | 34.4           | -94.37          | None         | None
1950-01-25 | IL    | 2         | 0        | 0          | 0.1  | 100   | 41.17          | -87.33          | None         | None
1950-01-25 | MO    | 2         | 5        | 0          | 2.3  | 300   | 37.6           | -90.68          | 37.63        | -90.65
1950-01-26 | TX    | 2         | 2        | 0          | 4.7  | 133   | 26.88          | -98.12          | 26.88        | -98.05
1950-02-11 | TX    | 2         | 0        | 0          | 9.9  | 400   | 29.42          | -95.25          | 29.52        | -95.13
1950-02-11 | TX    | 2         | 5        | 0          | 4.6  | 100   | 32.35          | -95.2           | 32.42        | -95.2

<a name="p4"></a>

---
## **Part 4: HOMEWORK - Analyzing the Data**
---


**This is a homework section. You are expected to complete this section outside of lab. Your Canvas homework quiz will be based on your solutions to these problems.**

In this section, your task is to create and utilize functions that implement basic statistical analysis techniques.

---
#### **Problem #4.1**

Let's do some data analysis on the data in the `width` column. First, we should compile all of the values in that column into a single list using a loop. You should exclude the column name that exists in the first row of the dataset by skipping it in your loop.

In [ ]:
col_data = []

for # COMPLETE THIS LINE  (loop through all rows except the first)
  # COMPLETE THIS LINE    (add the 6th item in each row to the list)

print(col_data[:10]) # prints the first 10 values in the column

##### **Solution**

In [ ]:
col_data = []
for row in data[1:]:
  col_data.append(row[6])

print(col_data[:10])

[130, 150, 10, 17, 100, 300, 133, 400, 100, 67]

---
#### **Problem #4.2**

Find the smallest and largest values in `col_data` using your `minimum()` and `maximum()` functions from Part 2.

In [ ]:
smallest_width = # COMPLETE THIS LINE
largest_width = # COMPLETE THIS LINE

print('The smallest tornado width recorded was', smallest_width, 'yards.')
print('The largest tornado width recorded was', largest_width, 'yards.')

##### **Solution**

In [ ]:
smallest_width = minimum(col_data)
largest_width = maximum(col_data)

print('The smallest tornado width recorded was', smallest_width, 'yards.')
print('The largest tornado width recorded was', largest_width, 'yards.')

The smallest tornado width recorded was 0 yards.
The largest tornado width recorded was 4576 yards.

---
#### **Problem #4.3**

Using `col_data`, compute the mean (average) width. <br>
The `sum()` and `len()` functions will be helpful here.

In [ ]:
mean = # COMPLETE THIS LINE

print('Mean tornado width is', mean, 'yards.')

##### **Solution**

In [ ]:
mean = sum(col_data) / len(col_data)

print('Mean tornado width is', mean, 'yards.')

Mean tornado width is 106.57703010746322 yards.

---
#### **Problem #4.4**

We want to be able to get the column data and perform the mean calculation on other columns as well. Instead of rewriting the same code many times, let's move the logic from Problems #4.1 and #4.3 into their own functions:

- `get_column_data()` - Will accept the entire dataset and desired column name (string) as parameters and return a list containing of all the values in the specified column. This function already includes a line of code that will locate the index of a column based on its name to makes things easier for you.

- `mean()` - Will accept the entire dataset and desired column name (string) as parameters and return the calculated mean as a single number. This function should call `get_column_data()` and pass the parameters to it.

Test your functions by calling the `mean()` function to find the mean of the `width` column and verify that the output matches your output from Problem #4.3.

In [ ]:
def get_column_data(dataset, column_name):
  col_idx = dataset[0].index(column_name) # this locates the index of a column given its string name

  # YOUR CODE FROM PROBLEM #4.1 GOES HERE - MODIFY WITH col_idx VARIABLE

  return col_data


def mean(dataset, column_name):
  # CALL THE get_column_data() FUNCTION

  # REPLICATE YOUR LOGIC FROM PROBLEM #4.3 HERE

  return mean


print('Mean tornado width is', mean(data, 'width'), 'yards.')

##### **Solution**

In [ ]:
def get_column_data(dataset, column_name):
  col_idx = dataset[0].index(column_name)
  col_data = []
  for row in dataset[1:]:
    col_data.append(row[col_idx])
  return col_data

def mean(dataset, column_name):
  vals = get_column_data(dataset, column_name)
  return sum(vals) / len(vals)

print('Mean tornado width is', mean(data, 'width'), 'yards.')

Mean tornado width is 106.57703010746322 yards.

# **Part 5: OPTIONAL - Analyzing the Data pt. 2**

These additional problems are optional. If you have time, we encourage you to give them a try!

---
#### **Problem #5.1**

Calculate the mean of the `injuries`, `path`, and `ef_rating` columns using your new function.

Do your functions run properly for each of these columns? If any throw an error, assess why you think that might be happening before moving on to the next problem.

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
print("The mean number of injuries is", mean(data, 'injuries'), "per tornado event.")
print("On average, the distance covered by a tornado's path is", mean(data, 'path'), "miles.") # or kilometers if the student chose that
print("The average intensity of tornados in the US is", mean(data, 'ef_rating'), "on the EF scale.") # this line should error!

The mean number of injuries is 1.437875603185411 per tornado event.
On average, the distance covered by a tornado's path is 3.478106663904713 miles.

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

---
#### **Problem #5.2**

Have you determined the cause of the error in the previous problem? <br>
It may have something to do with the data itself!

You may have noticed that some of the columns have missing values. In Python, the `None` keyword is used to define a null value, or no value at all. It is a separate data type that can **not** be combined with or added to other types (`int`/`float`/`str`/etc).

In data science, it is common to either replace these empty values with estimates or remove the row entirely. A few inconsistencies should not hinder us from learning what we can about the data we actually have!

Let's write a function called `drop_incomplete_rows()` that accepts the entire dataset as a parameter, uses a loop to build a new subset of the data that excludes any rows with missing values, and returns the new subset. We can determine whether a row has missing values on the condition that `None` exists *in* the row.

```python
# Examples of determining the existance of None in a list
print( None in ['apple', 'banana', 'strawberry'] )
>>> False
print( None in [123, 45, None, 678] )
>>> True
print( None not in ['eye', '<3', 'U', 3000] )
>>> True
```

If your code works, you should observe a decrease in the number of rows in the data. Then, rerun your code from the previous problem to resolve the error.

In [ ]:
def drop_incomplete_rows(dataset):
  subset = []

  for # COMPLETE THIS LINE   (loop through all rows including column names)
    if # COMPLETE THIS LINE  (verify that None does NOT exist in the row)
      # COMPLETE THIS LINE   (add row to subset)

  return # COMPLETE THIS LINE


# Testing the code (not part of the function)
print('Number of rows before drop:', len(data))
data = drop_incomplete_rows(data)
print('Number of rows after drop: ', len(data))

##### **Solution**

In [ ]:
def drop_incomplete_rows(dataset):
  subset = []
  for row in dataset:
    if None not in row:
      subset.append(row)
  return subset


print('Number of rows before drop:', len(data))
data = drop_incomplete_rows(data)
print('Number of rows after drop: ', len(data))

Number of rows before drop: 67559
Number of rows after drop:  40591

---
#### **Problem #5.3**

Write a function to compute the variance of a column with numerical data. This function should accept the entire dataset and desired column name (string) as parameters and return the calculated variance as a single number.

> **Variance** measures how spread out the values in a dataset are from the mean. It gives an idea of the degree of variation or dispersion and is represented by the following equation:
>
> $$\text{Variance} = \frac{1}{n} \sum_{i=1}^{n} (x_i - \mu_X)^2 = \frac{\text{sum } (\text{ }(\text{each data point} - \text{mean})^2 \text{ })}{\text{total number of points}}$$

This will require us to find the mean of the column first. Then, we'll need to iterate over each value or data point in the column, subtract the mean, and square the result. Each of these calculations must be added together before dividing by the number of values in the column to get an average.

Test the function on the `width` column. The result sould be around **`60917.52`**.

In [ ]:
def # COMPLETE THIS LINE

  column_mean = # COMPLETE THIS LINE  (call function)
  column_data = # COMPLETE THIS LINE  (call function)

  squared_diff = # THIS CAN EITHER BE A RUNNING SUM OR A LIST (0 or [])

  for val in column_data:
    # SUBTRACT column_mean FROM val AND SQUARE RESULT
    # ADD TO squared_diff

  variance = # COMPLETE THIS LINE - divide sum by length of column data

  return # COMPLETE THIS LINE

##### **Solution**

In [ ]:
def variance(dataset, column_name):
  column_mean = mean(dataset, column_name)
  column_data = get_column_data(dataset, column_name)
  squared_diff = []
  for val in column_data:
    squared_diff.append((val - column_mean) ** 2)
  return sum(squared_diff) / len(squared_diff)

print('Variance of width column:', variance(data, 'width'))

Variance of width column: 60917.51816897424

---
#### **Problem #5.4**

Write a function to compute the standard deviation of a column with numerical data. This function should accept the entire dataset and desired column name (string) as parameters and return the calculated standard deviation as a single number.

> **Standard deviation** is the square root of the variance. It provides a measure of the average distance of each data point from the mean, in the same units as the data.
>
> $$\text{Standard Deviation} = \sqrt{\text{Variance}}$$

Test the function on the `width` column. The result sould be around **`246.81`**.

In [ ]:
def # COMPLETE THIS LINE

  var = # COMPLETE THIS LINE  (call variance function)

  std_dev = # COMPLETE THIS LINE

  return # COMPLETE THIS LINE

##### **Solution**

In [ ]:
def standard_deviation(dataset, column_name):
  var = variance(dataset, column_name)
  std_dev = var ** 0.5
  return std_dev

print('Standard deviation of width column:', standard_deviation(data, 'width'))

Standard deviation of width column: 246.81474463446108

---
#### **Problem #5.5**

Write a function to compute the correlation coefficient between two columns with numerical data. This function should accept the entire dataset and two column names (strings) as parameters and return the calculated correlation as a single decimal number between -1 and 1.

> **Correlation** measures the strength and direction of the linear relationship between two variables. It is a standardized version of *covariance*, which ensures that the correlation is always between
-1 and 1.
>
> &nbsp;
> $$\text{Correlation} = \frac{\text{Covariance}(X, Y)}{\text{Standard Deviation}(X) \text{ } \times \text{ } \text{Standard Deviation}(Y)}$$
> &nbsp;

> **Covariance** measures the relationship between two variables (or columns in a dataset). It tells you how much two variables vary together. If the values of one variable increase as the values of another increase, covariance will be positive. If one decreases as the other increases, covariance will be negative.
>
> &nbsp;
> $$\text{Covariance} =  \frac{1}{n} \sum_{i=1}^{n} (x_i - \mu_x)(y_i - \mu_y) = \frac{\text{sum } (\text{ }(\text{point in col }X \text{ } - \text{ } \text{mean}(X) \text{ }) \times (\text{point in col }Y \text{ } - \text{ } \text{mean}(Y) \text{ }) \text{ } )}{\text{total number of points}}$$
> &nbsp;

>
> |       | How to Interpret Correlation Coefficient |
> | :---: | :----------------------- |
> | **1** | Perfect positive correlation (as one variable increases, the other increases proportionally). |
> | **-1** | Perfect negative correlation (as one variable increases, the other decreases proportionally). |
> | **0** | No linear relationship between the variables. |


In short, the purpose of computing the correlation between two columns is meant to tell us how much they influence each other. For example, we can inuitively deduce that the rate of `injuries` will increase if the rate of `fatalities` also increases.

Test your function and determine the correlation between the following columns:

- `injuries` and `fatalities`
- `ef_rating` and `injuries`
- `ef_rating` and `width`
- `path` and `width`

In [ ]:
def correlation(dataset, column_nameX, column_nameY):
  meanX = # COMPLETE THIS LINE
  meanY = # COMPLETE THIS LINE

  std_devX = # COMPLETE THIS LINE
  std_devY = # COMPLETE THIS LINE

  column_dataX = # COMPLETE THIS LINE
  column_dataY = # COMPLETE THIS LINE

  if std_devX * std_devY == 0:
    return 0    # to avoid dividing by zero

  cov = []
  for i in range(len(column_dataX)):
    cov.append( # COMPLETE THIS LINE

  covariance = sum(cov) / len(cov)
  correlation = # COMPLETE THIS LINE

  return # COMPLETE THIS LINE

##### **Solution**

In [ ]:
def correlation(dataset, column_nameX, column_nameY):
  meanX = mean(dataset, column_nameX)
  meanY = mean(dataset, column_nameY)
  std_devX = standard_deviation(dataset, column_nameX)
  std_devY = standard_deviation(dataset, column_nameY)
  column_dataX = get_column_data(dataset, column_nameX)
  column_dataY = get_column_data(dataset, column_nameY)

  if std_devX * std_devY == 0:
    return 0    # to avoid dividing by zero

  cov = []
  for i in range(len(column_dataX)):
    cov.append((column_dataX[i] - meanX) * (column_dataY[i] - meanY))

  covariance = sum(cov) / len(cov)
  correlation = covariance / (std_devX * std_devY)
  return correlation


print('Correlation between injuries and fatalities =', correlation(data, 'injuries', 'fatalities'))
print('Correlation between EF rating and injuries =', correlation(data, 'ef_rating', 'injuries'))
print('Correlation between EF rating and tornado width =', correlation(data, 'ef_rating', 'width'))
print('Correlation between path distance and tornado width =', correlation(data, 'path', 'width'))

Correlation between injuries and fatalities = 0.7641323487910162
Correlation between EF rating and injuries = 0.24673761908052347
Correlation between EF rating and tornado width = 0.467469755697045
Correlation between path distance and tornado width = 0.34113187880572415

---
#### **Problem #5.6**

Let's suppose we want to analyze the tornado from a specific state. We'd need a way to filter through the data and collect only the rows that have the desired value in the state column.

The function `filter_by_col_val()` will accept the entire dataset, column name (string), and specified value (number/string) as parameters and return a subset of the data that meets the criteria.

Complete the code below and test it by filtering for only tornado data from Iowa.

In [ ]:
def filter_by_col_val(dataset, column_name, value):
  col_idx = dataset[0].index(column_name) # this locates the index of a column given its string name
  subset = [dataset[0]]                   # the new subset should still begin with the row of column names

  for row in dataset[1:]:
    if # COMPLETE THIS LINE
      # COMPLETE THIS LINE

  return # COMPLETE THIS LINE


iowa_data = filter_by_col_val(data, 'state', 'IA')
print_head(iowa_data)

##### **Solution**

In [ ]:
def filter_by_col_val(dataset, column_name, value):
  col_idx = dataset[0].index(column_name)
  subset = [dataset[0]]
  for row in dataset[1:]:
    if row[col_idx] == value:
      subset.append(row)
  return subset

iowa_data = filter_by_col_val(data, 'state', 'IA')
print_head(iowa_data)

date       | state | ef_rating | injuries | fatalities | path | width | start_latitude | start_longitude | end_latitude | end_longitude
---------------------------------------------------------------------------------------------------------------------------------------
1950-05-08 | IA    | 2         | 0        | 0          | 0.1  | 200   | 41.03          | -95.27          | 41.02        | -95.22
1950-06-15 | IA    | 3         | 5        | 0          | 5.6  | 300   | 41.98          | -93.6           | 41.97        | -93.48
1951-08-26 | IA    | 1         | 0        | 0          | 5.6  | 140   | 42.85          | -95.95          | 42.92        | -95.87
1952-06-02 | IA    | 2         | 1        | 0          | 2.3  | 100   | 41.9           | -95.4           | 41.88        | -95.33
1952-06-23 | IA    | 4         | 4        | 0          | 24.1 | 400   | 42.75          | -95.85          | 42.9         | -95.42
1953-03-21 | IA    | 1         | 0        | 0          | 10.9 | 600   | 42.05          | -95.72          | 41.93        | -95.87
1953-03-21 | IA    | 2         | 0        | 0          | 11.7 | 100   | 41.88          | -92.62          | 42.05        | -92.55
1953-03-21 | IA    | 3         | 0        | 0          | 31.8 | 400   | 43.27          | -94.63          | 43.3         | -94.0
1953-05-10 | IA    | 3         | 0        | 0          | 6.6  | 400   | 42.95          | -91.33          | 43.05        | -91.28

---
#### **Problem #5.7**

Determine whether Iowa or Missouri has had more recorded tornados.

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
print('Iowa =', len(iowa_data))
print('Missouri =', len(filter_by_col_val(data, 'state', 'MO')))

Iowa = 1801
Missouri = 1633

---
#### **Problem #5.8**

Determine how the number of tornados that have been recorded in your state from 1950-2021.

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
my_state = 'MN' # or whichever state you are from
print(my_state, 'had', len(filter_by_col_val(data, 'state', my_state)), 'recorded tornados from 1950-2021.')

MN had 1441 recorded tornados from 1950-2021.

---
#### **Problem #5.9**

Determine which state has had the most EF5 tornados.

**Hint:** Filter dataset by EF rating first, then filter that subset by state. Use `states.values()` to iterate through each state.

In [ ]:
ef5_data = # COMPLETE THIS LINE
most_ef5 = 0
state_with_most = ''

for state in states.values():
  state_data = # COMPLETE THIS LINE

  # COMPLETE THIS CODE (it is similar to the logic for maximum() function!)

print(# COMPLETE THIS LINE

##### **Solution**

In [ ]:
ef5_data = filter_by_col_val(data, 'ef_rating', 5)
most_ef5 = 0
state_with_most = ''

for state in states.values():
  state_data = filter_by_col_val(ef5_data, 'state', state)

  if len(state_data) > most_ef5:
    most_ef5 = len(state_data)
    state_with_most = state

print('The state with the most recorded EF5 tornados is', state_with_most)

The state with the most recorded EF5 tornados is OK

---
#### **Problem #5.10**

Are EF5 tornados more deadly in this state (from Problem #2.13) or in Alabama?

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
alabama_ef5 = filter_by_col_val(ef5_data, 'state', 'AL')
oklahoma_ef5 = filter_by_col_val(ef5_data, 'state', 'OK')
print('Average casualties for EF5 tornados in Alabama is', mean(alabama_ef5, 'fatalities'))
print('Average casualties for EF5 tornados in Oklahoma is', mean(oklahoma_ef5, 'fatalities'))

Average casualties for EF5 tornados in Alabama is 31.857142857142858
Average casualties for EF5 tornados in Oklahoma is 22.0

---
#### **Problem #5.11**

Now, let's suppose we want to analyze trends in the data over time. For this, we would need to be able to sort or filter the data by year or month. Every date in the `date` column has the **year** *(4 digits)*, **month** *(2 digits)*, and **day** *(2 digits)* separated by dashes so we can't filter on the date string as a whole. Instead, we can use indexing and slicing to access certain parts of the string.

Below is the function `filter_by_month()` that accepts the dataset and a month number as parameters and returns the subset of tornado records that occurred during that month. This function has been completed for you, just run the code cell and make note of the output.

Your task is to create a similar function called `filter_by_year()`. Test the function by filtering for the year 2000.

In [ ]:
# RUN THIS CODE CELL
def filter_by_month(dataset, month_num):
  subset = [dataset[0]]
  for row in dataset[1:]:
    date = row[0]
    m = date[5:7]
    if int(m) == int(month_num):
      subset.append(row)
  return subset

print_head(filter_by_month(data, 1))  # All tornados that occurred in January

In [ ]:
def filter_by_year( # COMPLETE THIS LINE
  # COMPLETE THIS FUNCTION

# TEST THE FUNCTION

##### **Solution**

In [ ]:
def filter_by_year(dataset, year):
  subset = [dataset[0]]
  for row in dataset[1:]:
    date = row[0]
    y = date[:4]
    if int(y) == int(year):
      subset.append(row)
  return subset

print_head(filter_by_year(data, 2000))

date       | state | ef_rating | injuries | fatalities | path | width | start_latitude | start_longitude | end_latitude | end_longitude
---------------------------------------------------------------------------------------------------------------------------------------
2000-01-03 | AR    | 1         | 0        | 0          | 4.8  | 40    | 36.22          | -92.18          | 36.27        | -92.1
2000-01-03 | AR    | 1         | 0        | 0          | 1.8  | 40    | 36.22          | -91.83          | 36.23        | -91.8
2000-01-03 | AR    | 1         | 0        | 0          | 2.0  | 40    | 36.27          | -91.7           | 36.28        | -91.67
2000-01-03 | AR    | 1         | 0        | 0          | 3.1  | 40    | 36.47          | -91.65          | 36.48        | -91.6
2000-01-03 | IN    | 1         | 0        | 0          | 0.3  | 50    | 38.47          | -86.18          | 38.47        | -86.18
2000-01-03 | KY    | 3         | 3        | 0          | 24.0 | 440   | 37.27          | -88.08          | 37.48        | -87.73
2000-01-03 | KY    | 3         | 18       | 0          | 7.0  | 880   | 37.72          | -87.18          | 37.77        | -87.12
2000-01-03 | MS    | 0         | 0        | 0          | 0.1  | 20    | 31.1           | -91.27          | 31.1         | -91.27
2000-01-03 | MS    | 1         | 0        | 0          | 3.0  | 150   | 33.63          | -90.37          | 33.67        | -90.33

---
#### **Problem #5.12**

Has the number of annual tornadic events increased or decreased since 1950? Use a loop to print the number of tornados for the years 1950, 1960, 1970, ..., 2020.

**Hint:** Use `range()`.

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
for i in range(1950,2021,10):
  print('Year:', i, ' Tornados:', len(filter_by_year(data, i)))

Year: 1950  Tornados: 94
Year: 1960  Tornados: 172
Year: 1970  Tornados: 179
Year: 1980  Tornados: 241
Year: 1990  Tornados: 285
Year: 2000  Tornados: 1076
Year: 2010  Tornados: 1282
Year: 2020  Tornados: 978

---
#### **Problem #5.13**

Which month has historically seen the most tornado events from 1950-2021? In other words, find the average number of tornados that occur annually for each month.

**Optional:** Use the abbreviations in the `months` list in your print statements.

In [ ]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
total_num_years = 2021-1950

# COMPLETE THIS CODE

##### **Solution**

In [ ]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
total_num_years = 2021-1950

for i in range(1,13):
  print(months[i-1], '=', round(len(filter_by_month(data, i)) / total_num_years))

Jan = 18
Feb = 18
Mar = 42
Apr = 91
May = 125
Jun = 93
Jul = 48
Aug = 35
Sep = 29
Oct = 28
Nov = 25
Dec = 19

---
#### **Problem #5.14**

How many tornados were recorded in Minnesota during the month of June in the year 1992?

What day did all of them occur?

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
subset = filter_by_month(filter_by_year(filter_by_col_val(data, 'state', 'MN'),1992),6)

print(len(subset))
print_head(subset, 17)

17
date       | state | ef_rating | injuries | fatalities | path | width | start_latitude | start_longitude | end_latitude | end_longitude
---------------------------------------------------------------------------------------------------------------------------------------
1992-06-16 | MN    | 1         | 0        | 0          | 6.5  | 23    | 44.52          | -95.17          | 44.6         | -95.13
1992-06-16 | MN    | 2         | 0        | 0          | 13.0 | 40    | 44.0           | -95.85          | 44.15        | -95.63
1992-06-16 | MN    | 2         | 0        | 0          | 12.0 | 60    | 44.52          | -95.42          | 44.65        | -95.33
1992-06-16 | MN    | 2         | 0        | 0          | 8.0  | 30    | 44.52          | -95.25          | 44.6         | -95.2
1992-06-16 | MN    | 2         | 0        | 0          | 5.5  | 23    | 44.57          | -95.17          | 44.67        | -95.22
1992-06-16 | MN    | 2         | 0        | 0          | 3.0  | 13    | 44.67          | -95.1           | 44.72        | -95.1
1992-06-16 | MN    | 2         | 0        | 0          | 4.0  | 40    | 43.92          | -95.98          | 43.93        | -95.9
1992-06-16 | MN    | 2         | 0        | 0          | 7.5  | 90    | 43.95          | -95.43          | 44.1         | -95.37
1992-06-16 | MN    | 2         | 0        | 0          | 10.0 | 80    | 45.23          | -94.07          | 45.33        | -93.85
1992-06-16 | MN    | 3         | 0        | 0          | 6.0  | 23    | 44.78          | -95.85          | 44.78        | -95.7
1992-06-16 | MN    | 3         | 0        | 0          | 12.0 | 80    | 44.1           | -95.82          | 44.23        | -95.72
1992-06-16 | MN    | 3         | 0        | 0          | 16.0 | 90    | 44.23          | -95.58          | 44.45        | -95.48
1992-06-16 | MN    | 3         | 0        | 0          | 13.0 | 80    | 44.35          | -95.37          | 44.5         | -95.15
1992-06-16 | MN    | 3         | 8        | 0          | 10.0 | 120   | 45.02          | -94.23          | 45.15        | -94.12
1992-06-16 | MN    | 4         | 3        | 0          | 7.0  | 160   | 43.95          | -95.9           | 44.05        | -95.97
1992-06-16 | MN    | 5         | 35       | 1          | 16.0 | 280   | 43.8           | -96.02          | 44.0         | -95.85

---
#### **Problem #5.15**

In the United States, tornados typically move in one common direction. Is it north? Southeast? West? Let's analyze the latitude and longitude data to find out!

As you can see from the map below, longitude becomes more negative the further west and latitude becomes more positive the further north you travel.


|     |     |
| --- | --- |
| <img height=200 src="https://digitalgeographic.com/resources/8020/GPS/g/ceqd-anno.png"> | <img height=200 src="https://shapegrams.com/wp-content/uploads/2022/04/Compass-Rose-Featured-Image.png">


>    <br>
> Suppose you take a flight from Chicago, Illinois to Charlotte, North Carolina. Your trip could be described by the following starting and ending coordinates:
>
> | Chicago  |   | Charlotte  |   |
> | :--------------- | :--------------- | :------------ | :------------ |
> | **start_latitude** | **start_longitude** | **end_latitude** | **end_longitude** |
> | 41.9813          | -87.9089         | 35.2160        | -80.9540       |
>

> Based on these coordinates, which cardinal direction did you travel?
>
> |     |     |
> | --- | --- |
> | **Vertical Direction (Latitude)** <br><br>`end_latitude - start_latitude = -6.7653` | A *negative* difference in latitude indicates you moved <u>**south**</u>. |
> | | |
> | **Horizontal Direction (Longitude)** <br><br>`end_longitude - start_longitude = 6.9549` | A *positive* difference in logitude indicates you moved <u>**east**</u>. |
> | | |
> | `south + east = southeast` | Your flight flew **southeast (SE)**&nbsp;! |

Use the dictionary called `directions` to keep track of the number of tornados that traveled in each cardinal direction. Tornados that either were stationary or didn't last long enough to measure any noticable change in position are categorized by an empty string `''` for simplicity.

- Iterate through each row in the data.
  - Find the difference between `end_latitude` and `start_latitude` to determine whether the lateral direction is `'N'`, `'S'`, or `''`. Add this to the `dir` string.
  - Find the difference between `end_longitude` and `start_longitude` to determine whether the longitudinal direction is `'E'`, `'W'`, or `''`. Add this to the `dir` string.
  - Use the `dir` string to access the appropriate dictionary key and add 1 to its value.
- Print the dictionary to see which direction has the largest value.

In [ ]:
directions = {'NW':0, 'N':0, 'NE':0, 'E':0, 'SE':0, 'S':0, 'SW':0, 'W':0, '':0}

for row in data[1:]:
  dir = ''

  diff_lat = # COMPLETE THIS LINE
  if diff_lat > 0:
    dir += # COMPLETE THIS LINE
  elif diff_lat < 0:
    dir += # COMPLETE THIS LINE

  diff_lon = # COMPLETE THIS LINE
  if diff_lon > 0:
    dir += # COMPLETE THIS LINE
  elif diff_lon < 0:
    dir += # COMPLETE THIS LINE

  directions[dir] += 1

print(directions)

##### **Solution**

In [ ]:
directions = {'NW':0, 'N':0, 'NE':0, 'E':0, 'SE':0, 'S':0, 'SW':0, 'W':0, '':0}

for row in data[1:]:
  dir = ''

  diff_lat = row[9] - row[7]
  if diff_lat > 0:
    dir += 'N'
  elif diff_lat < 0:
    dir += 'S'

  diff_lon = row[10] - row[8]
  if diff_lon > 0:
    dir += 'E'
  elif diff_lon < 0:
    dir += 'W'

  directions[dir] += 1

print(directions)

{'NW': 1522, 'N': 896, 'NE': 19939, 'E': 2678, 'SE': 4671, 'S': 275, 'SW': 449, 'W': 193, '': 9967}

---
#End of notebook

 2024 The Coding School, All rights reserved